body{
	background: #0c52828a;
	margin:0px;
}

a{
	text-decoration: none;
}

p{
	font-family: 'Raleway';
}

h1 a{
	color: #0e5584;
    font-size: 0.9em;
    border-top: 2px solid #ea8e32;
    border-radius: 5px;
    font-family: Raleway;
}

h2{
    margin: 5px;
    font-family: 'Helvetica';
    font-size: 1.2em;
    text-align: center;
    border-top: #ea8f34 2px solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

h3{
    margin: 5px;
    font-family: 'Helvetica';
    border-bottom: #045484 solid 2px;
    border-radius: 5px;
}

h4{
	text-align: center;
    border-top: solid lightgray 2px;
    border-radius: 5px;
    font-family: 'Helvetica';
}

header{
	background: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#headband{
	display: flex;
    flex-direction: column;
    align-items: center;
}

#headband img{
	width: 50%;
}
/*---------------MENU------------------*/
#nav_Log{
	display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

nav{
	width: 80%;
     font-family: Raleway;
     font-size: 1em;
}

nav a{
	text-decoration: none;
    color: #0e5584;
}

ul li:hover{
    background: #ea8e32;

}

ul{
	display: flex;
    justify-content: space-around;
}

ul li{
	list-style: none;
    border-left: solid 2px #0e5584;
    border-radius: 6%;
    padding: 5px;
}

#recapProfil{
	display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    border-top: 2px solid #ea8e32;
    border-bottom: 2px solid #ea8e32;
}

.Profil{
	border-radius: 50%;
    width: 20%;
}

#pseudoProfil{
    text-align: center;
}

.fa-sign-out-alt{
    color: #ea8e32;
}

section{
	width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #0e5584;
    border-right: 2px solid #0e5584;
    background: #fffffff2;
}

#diaporama{
    width: 100%;
}

#diapo{
    width: 90%;
    margin: auto;
}

#carrousel{
    max-height: 200px;
}

#legende{
    font-family: 'Helvetica';
    font-size: 0.8em;
    text-align: center;
}

#diapoFirstPage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border: white 2px solid;
    border-radius: 5px;
    background: white;
    width: 100%;
}

#arrows-L,#arrows-R{
     font-size: 2em;
    width: 5%;
    text-align: center;  
}

#chevron-r,#chevron-l{
    color:  #e38831;
}

.FirstPageImg{
	width: 80%;
   
}

.formatVideo{
    width:560px;
     height:315px;
}

#disclamer{
	background: white;
    padding: 5px;
    text-align: justify;
    font-size: 1em;
    border-left: 2px solid #e38831;
    border-right: 2px solid #e38831;
    margin: auto;
    width: 90%;
}

#disclamerParagraphes{
font-size: 1em;
padding: 5px;
text-align: justify;
}

#first_Page_Info{
    width: 90%;
}

#last_Movie_Out{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 90%;
    margin: auto;
    background: white;
    border-left: 2px solid #e38831;
    border-right: 2px solid #e38831;
}

#resume_Last_Movie{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}

#presentation{
	display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

/*CONNEXION*/
#conditions{
    display: flex;
}

#miniGalerie{
    padding: 0px;
    max-width: 46%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: solid 2px #ea8f34;
    border-radius: 5px;
    border-right: solid 2px #ea8f34;
    background: white;
}

.connexionGalerie{
    margin:2px;
}
#pano{
    width: 100%;
}
#paysage{
    height: 200px;
}

#miniPortrait{
    height: 180px;
}

#poster{
    height: 200px;
}

#slide{
    background: white;
    border-top: #045484 solid 2px;
    border-bottom: #045484 solid 2px;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

figure{
    margin: 0px;
    width: 33%;
}

#land{
    width: 50%;
}

#movieLegend{
    text-align: center;
    font-size: 1em;
    font-family: 'Raleway';
}

#rules{
	background: white;
    width: 54%;
    margin: auto;
    text-align: justify;
    padding: 10px;
    border-left: 2px solid #e38831;
    border-right: 2px solid #e38831;
    border-radius: 5px;
}

#subBlock{
	    display: flex;
    margin: auto;
    width: 93%;
    padding: 5px;
}

.formulaires{
   width: 50%;
    background: white;
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.formulaires fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
}
/*FILMS*/

#IntroMovies{
    width: 80%;
    margin: auto;
    padding: 10px;
    background: white;
    border-left: 2px solid #e38831;
    border-right: 2px solid #e38831;
}

#Thumbnails{
    display: flex;
    flex-wrap: wrap;
    background: white;
}

a img{
    width: 50%;
}

.thumbnais_Movie{
    width: 32%;
    padding: 5px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption{
    text-align: justify;
}

figcaption p{
    padding-right: 5px;
    padding-left: 5px;
}
/*FILM*/
#imgPoster{
    height: 350px;
}

#moviePage{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justif

}

.presentation img{
    margin: 5px;
}

#warningVideo{
    font-size: 0.8em;
}
/*Admin*/

#profil{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.profilPicture{
    border: solid 2px #e78c34;
    border-radius: 50%;
    width: 35%; 
}

.avatar{
    border-radius: 5px;
    padding: 5px;
    background: #e78c34;
}

.avatar a{
    color: white;
}

#headBandUpDate{
    margin: 5px;
    border-top: #0f5685 solid 2px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    background: #ffffff96;
}

#listAdminTopics, #listMember, #commentsPannel{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 5px;
}

#controlleAdmin{
   display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#EntryAdmin{
    height: 532px;
    overflow: auto;
    background: white;
    width: 22%;
    border-top: #e78c34 2px solid;
    border-radius: 5px;
}

.warning{
    border-bottom: #0f5685 solid 2px;
    width: 80%;
    margin: auto;
    padding: 5px;
}

#newEntry{
    display: flex;
    flex-direction: column;
    text-align: justify;
    border: none;
    border-top: solid 2px #0e5585;
    border-radius: 5px;
}

#newEntry label{
    font-family: 'Raleway';
    font-size: 1.1em;
}

.bandeau{
    height: 450px;
    border: solid 1px #0e5585
}
/*MEMBRES*/
#infoPerso{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    background: white;
}

#espaceMembre{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}
/*BUTTONS*/

.moderateursPlus,.membresPlus,.commsPlus,.moderateursMoins,.membresMoins,.commsMoins{
    background: orange;
    color: white;
    border-radius: 20px;
}

#plusModo,#minusModo,#plusMembre,#minusMembre,#plusComm,#minusComm{
    padding: 5px;
}

/*FORUM*/
.Avatar{
    height: 50px;
    width: 50%
    border: white 2px solid;
    border-radius:50%;
}

.infoMember{
    display: flex;
    align-items: center;
    background: white;
    border-top: solid 2px #0e5585;
    padding: 5px;
}

.message{
    border-bottom: solid 2px #ea8e32;
    margin-bottom: 5px;
    text-align: justify;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;  
}

.message a{
    color: black;
    font-family: 'Raleway';
    font-size: 1em;
}

#forumPage{
    display: flex;
    flex-direction: column-reverse;
}

#newTopic{
    width: 80%;
    margin: auto;
}

.newSubject{
    font-family: 'Raleway';
    background: #e6edf2;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #0e5585;
    border-right: 2px solid #0e5585;
    border-radius: 5px;
    text-align: left
}

#send{
    background: #ec9035;
    font-size: 1.1em;
    color: #fff;
    width: 50%;
}

#eraseTopic{
    height: 35px;
    width: 15%;
    border-radius: 5px;
    background: white;
    border: 2px solid #0e5585;
    text-align: center;
}
#forum{
    width: 100%;
}
/*TOPIC*/
#topic{
    width: 100%;
}
#gestion{
    width: 80%;
}
.listAnswer{
    background: white;
    padding-top: 5px;
}

.infoMessageMember{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    width: 50%;
    margin: auto;
    border-top: solid 2px #0e5585;
    padding: 5px;
    border-radius: 5px;
}

.titreMessage{
    text-align: center;
}

.allAnswes{
    border-bottom: #e48932 solid 2px;
    border-top: #0d5383 solid 2px;
    background: #0e5584;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentationAnswers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background: #0e5584;
    width: 30%;
    border-bottom: #ec9136 solid 2px;
    border-radius: 0px 0px 5px 5px;
}

.attentionRequired{
    font-style: italic;
    font-size: 0.8em;
}

.deleteComm, .confirmComm{
    border: solid #e98c34 1px;
    border-radius: 5px;
    padding: 5px;
    background: #e98c34;
}

.deleteComm a,.confirmComm a {
    font-size: 1em;
    color: white;
}

.reponses{
    text-align: justify;
    width: 70%;
    margin: 0px;
    border-bottom: #0e5584 solid 2px;
    border-radius: 5px;
    padding-left: 5px;
}

#message{
    border-top: solid #ec9136 2px;
    border-radius: 5px;
    width: 90%;
    background: white;
}

.allAnswers{
    display: flex;
    padding: 5px;
}
/*Avatar*/
#galerie{
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 5px;
    border-left: 2px solid #ec9136;
    border-right: 2px solid #ec9136;
    border-radius: 5px;
     width: 90%;
    margin: auto;
}

.imageAvatar{
    border: white solid 2px;
    border-radius: 29px;
}
