body{
	background: #0c52828a;
	margin:0px;
}
a{
	text-decoration: none;
}
p{
	font-family: 'Raleway';
}
h1 a{
	color: #0e5584;
    font-size: 0.9em;
    border-top: 2px solid #ea8e32;
    border-radius: 5px
}
h2{
    margin: 5px;
    font-family: 'Helvetica';
    font-size: 1.2em;
    text-align: center;
}
h3{
    margin: 0px;
    font-family: 'Helvetica';
}
h4{
	text-align: center;
    border-top: solid lightgray 2px;
    border-radius: 5px;
    font-family: 'Helvetica';
}
header{
	background: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#headband{
	display: flex;
    flex-direction: column;
    align-items: center;
}
#headband img{
	width: 50%;
}

/*---------------MENU------------------*/
#nav_Log{
	display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}
nav{
	width: 80%;
     font-family: Raleway;
     font-size: 1em;
}
nav a{
	text-decoration: none;
    color: #0e5584;
}
ul li:hover{
    background: #ea8e32;

}
ul{
	display: flex;
    justify-content: space-around;
}
ul li{
	list-style: none;
    border-left: solid 2px #0e5584;
    border-radius: 6%;
   
    padding: 5px;

}



#recapProfil{
	display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    border-top: 2px solid #ea8e32;
    border-bottom: 2px solid #ea8e32;
}
.Profil{
	border-radius: 50%;
	height: 20%;
    width: 20%;
}
#pseudoProfil{
    text-align: center;
}
.fa-sign-out-alt{
    color: #ea8e32;
}
section{
	width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #0e5584;
    border-right: 2px solid #0e5584;
    background: #ffffffcc;
}
#diapoFirstPage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#arrows-L,#arrows-R{
     font-size: 2em;
    width: 5%;
    text-align: center;  
}
#chevron-r,#chevron-l{
    color:  #e38831;
}

.FirstPageImg{
	height:300px;
    width: 50%;
}/*
.formatVideo{
    width:560px;
     height:315px;
}
    CHANGER LE FORMAT RESPONSIV
*/
#disclamer{
	background: white;
    padding: 5px;
    text-align: justify;
    font-size: 1em;
}
#first_Page_Info{
    width: 90%;
}
#last_Movie_Out{
	display: flex;
    flex-direction: column;
    padding: 15px;
    width: 90%;
    margin: auto;
    background: white;
    border-left: 2px solid #e38831;
    border-right: 2px solid #e38831;
}
#resume_Last_Movie{
    display: flex;
    justify-content: space-around;
    text-align: justify;
}
#presentation{
	display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}


/*CONNEXION*/
#rules{
	background: white;
    width: 90%;
    margin: auto;
    text-align: justify;
    padding: 10px;
    border-left: 2px solid #e38831;
    border-right: 2px solid #e38831;
}
#subBlock{
	    display: flex;
    margin: auto;
    width: 93%;
    padding: 5px;
}
.formulaires{
   width: 50%;
    background: white;
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
/*FILMS*/
#IntroMovies{
    width: 80%;
    margin: auto;
    padding: 10px;
    background: white;
    border-left: 2px solid #e38831;
    border-right: 2px solid #e38831;
}
#Thumbnails{
    display: flex;
    flex-wrap: wrap;
    background: white;
}
a img{
    width: 50%;
}
.thumbnais_Movie{
    width: 33%;
}
/*FILM*/
#imgPoster{
    height: 350px;
}
.presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;

}
#warningVideo{
    font-size: 0.8em;
}

/*Admin*/
#profil{
    display: flex;
    width: 50%;
}
.profilPicture{
   border: solid 2px orange;
   border-radius: 50%;
    height: 200px;
    width: 35%;
    
}

/*FORUM*/
.Avatar{
    height: 50px;
    width: 50%
    border: white 2px solid;
    border-radius:50%;
}
.infoMember{
    display: flex;
    align-items: center;
    background: white;
    border-top: solid 2px #0e5585;
    padding: 5px;
}
.message{
    border-bottom: solid 2px #ea8e32;
    margin-bottom: 5px;
    text-align: justify;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}
.message a{
    color: black;
    font-family: 'Raleway';
    font-size: 1em;
}
#forumPage{
    display: flex;
    flex-direction: column-reverse;
}
#newTopic{
    width: 80%;
    margin: auto;
}
.newSubject{
    background: #e6edf2;
    display: flex;
    border-left: 2px solid #0e5585;
    border-right: 2px solid #0e5585;
}
#eraseTopic{
    height: 35px;
    width: 11%;
    border-radius: 5px;
    background: white;
}

/*TOPIC*/
#topic{
    width: 100%;
}
.listAnswer{
    background: white;
}
.infoMessageMember{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    width: 50%;
    margin: auto;
    border-top: solid 2px #0e5585;
    padding: 5px;
}
.titreMessage{
    text-align: center;
}
.allAnswes{
    border-bottom: #e48932 solid 2px;
    border-top: #0d5383 solid 2px;
    background: #0e5584;
    border-radius: 5px;

        display: flex;
    flex-direction: column;
    align-items: center;
}
.presentationAnswers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #0e5584;
    width: 100%;
}